# Ignore iOS files
.DS_Store

# Ignore development environment
.idea
env/
__pycache__/
.ipynb_checkpoints/
build/

# Ignore dist
dist/

# Ignore test notebooks
eis1600/dates/test_regex.ipynb
eis1600/gazetteers/data/
